# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Picker3D.iml
# Datasource local storage ignored files
/../../../../../../../:\Top Secret\GitHub\Picker3D\.idea\.idea.Picker3D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
